# Node.js dependencies
/node_modules

# Build artifacts
/build
/dist

# IntelliJ
/.idea

# Eclipse
/.classpath
/.project
/.settings

# Visual Studio Code
.vscode

# Compiled Java classes
/target

# IDE-specific files
/.idea
/.vscode

# Logs
/logs

# Temporary files
/.DS_Store

# OS-specific files
.DS_Store
Thumbs.db

##hihihihi