.alert {
    margin-top: 10px !important;
}

.save-btn {
    width: 100% !important;
    min-height: 40px;
    background-color: #f9ede9;
    color: var(--black);
}

td {
    text-align: center !important;
}

th {
    text-align: center !important;
}

.title {
    padding: 20px 0;
}

.sort-space {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 0;
    gap: 20px;

    input,
    select {
        border: 2px solid black;
        border-radius: 50px;
        padding: 0 1%;
    }
}

.add-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    p {
        margin: 0;
    }
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.change-sequence-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    gap: 30px;
}

.change-sequence-show {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    p {
        margin: 0;
        font-size: 1.8rem;
    }
}

.change-sequence-show-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
}

.update-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    p {
        margin: 0;
        font-size: 1.8rem;
    }
}

.update-zone-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    min-width: 120px;
    gap: 10px;
    select {
        border: 2px solid black;
        border-radius: 50px;
        padding: 0 1%;
    }
}

.change-sequence-title {
    background-color: #f7ede9;
    color: #4a5568;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 5px 0;
    font-size: 1.8rem;
}

td {
    font-size: 18px;
    padding: 0;
}
th {
    background-color: #f9ede9;
    font-size: 18px;
    padding: 0;
    text-align: center;
    color: var(--black);
}

.submit-btn {
    display: flex;
    justify-content: center;
    button {
        width: 50%;
        background-color: #f9ede9;
        color: var(--black);
        &:hover {
            background-color: #f9ede9;
            opacity: 0.7;
        }
    }
}
