$iphone-width: 375px;
.wrapper {
    min-width: 800px;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    width: 29%;
    min-height: 650px;
    box-shadow: 3px 3px 51px -5px #888888;
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    border-radius: 12px;
    background-color: var(--text-color-nav);
    @media (max-width: $iphone-width) {
        box-shadow: 3px 3px 51px -5px #888888;
        padding: 40px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        border-radius: 12px;
        background-color: var(--text-color-nav);
    }
}
.login-form {
    width: 100%;
}

.title {
    display: block;
    background-color: var(--text-color-nav);
    font-size: 5rem;
    font-weight: 800;
    padding: 0;
    margin: -60px 0 50px 0;
    border-radius: 12px;
    text-shadow: 3px 2px 2px #888888;
}
.btn {
    font-weight: 700;
    font-size: 1.5rem;
    width: 60%;
    color: var(--text-color-nav);
    padding: 20px;
    background-color: var(--black);
    border-radius: 12px;

    &:hover {
        opacity: 0.8;
    }
}
