.container,
.wrapper {
    width: 100%;
    min-height: 833px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    display: flex;
}
.wrapper {
}
.inner {
    margin-top: 100px;
    width: 30%;
    min-height: 666px;
    box-shadow: 3px 3px 20px 10px #888888;
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    border-radius: 12px;
    background-color: white h1 {
        margin: 0;
    }
}
.login-form {
    width: 100%;
    margin-top: -30x;
    hr {
        margin-bottom: 40px;
    }
}
.notification {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 86.5%;
    height: 100%;
    border-radius: 12px;
    padding: 4px;
    background-color: rgb(245, 98, 98);
}
.notification-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 576px;
    min-height: 50px;

    h1 {
        font-weight: 550;
        padding: 0;
        margin: 0;
        font-size: 15px;
    }
}
.title {
    display: block;
    background-color: var(--white);
    font-size: 5rem;
    font-weight: 800;
    padding: 0;
    border-radius: 12px;
    width: 100%;
    text-shadow: 3px 2px 2px #888888;
    margin: 0 0 -20px 0;
    height: 8rem;
}
.btn {
    font-weight: 700;
    font-size: 1.5rem;
    width: 60%;
    color: var(--white);
    padding: 20px;
    background-color: var(--custom-black);
    border-radius: 12px;
    &:hover {
        opacity: 0.8;
    }
}
