.wrapper {
    width: 100%;
    min-height: 155px;
    background-color: #f9ede9;
    // position: fixed;
    z-index: 1;
}

.inner {
    width: 100%;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    max-height: 100px;
    overflow: hidden;
}

.nav-bottom {
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav-top-btn-left {
    padding: 6px;
    min-width: 244px;
}

.nav-top-btn-left-register {
    color: var(--text-color-nav);
    font-weight: 500;
    border-right: 2px solid #242430;
    padding-right: 3px;

    &:hover {
        text-decoration: underline;
    }
}

.nav-top-btn-left-login {
    color: var(--text-color-nav);
    font-weight: 500 !important;
    padding-left: 3px;

    &:hover {
        text-decoration: underline;
    }
}

.active-right {
    min-width: 244px;
    display: flex;
    align-items: center;
    gap: 22px;
}

.logo {
    max-width: 110px;
    min-height: 110px;
}

.icon {
    color: var(--text-color-nav);
    background-color: transparent;
}

.nav-bottom-item {
    padding: 16px 16px;
    font-weight: 500 !important;
    &:hover {
        color: #111;
        background-color: #fff;
    }
}

.language-and-cart {
    font-weight: 500 !important;

    &:hover {
        text-decoration: underline;
    }
}

.mini-nav-result-item {
    color: var(--text-color-nav);
    font-weight: 600 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background-color: #fff;
    &:hover {
        background-color: #ccc;
        // opacity: 0.5;
        color: var(--black);
    }
}
